body{
    background-color: #2E2E2E;
    margin-top: 0;
}
 
 /*////////////////////////////////////////////////////////////
  Navigation / Menu
 ///////////////////////////////////////////////////////////*/
nav{
    margin: 0;
    padding: 10px;
    background-color: #111111;
    
} 

nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.blue{
    color: blue;
    font-size: 40px;
    font-family: Arial, Times New Roman;
    border-right: 5px solid #363636;
    margin-right: auto;

}
li:hover{
    border: solid 3px #484848; 
    background-color: #606060;
    cursor: pointer;
}

li{
    
    color: white;
    list-style-type: none;
    padding: 8px;
    font-size: 2em;
    
}


a{
    text-decoration: none;
    color: white;
}

 
  /*////////////////////////////////////////////////////////////
   Log In form
 ///////////////////////////////////////////////////////////*/
 
 #sign_in{
     background-color: #DCDCDC;
     padding-bottom: 5px;
     margin: 0  ;
     border-radius: 5px;
 }
 
 

    
 .log_in button {
     font-size: 20px ;
     display: inline-block;
     margin: 8px;
 }
 
 .log_in button:hover{
     color: #696969;
    
     
 }
 label[for=uname], label[for=pwd]{
     margin: 5px;
 }
 
  input[type=text], input[type=password], input[type=email]{
     width: 90%;
     padding: 12px 12px;
     margin: 8px ;
     display: inline-block;
     border:1px solid #ccc;
     border-radius: 5px;
     clear: both;
 }
 
 /*/////////////////////////////////////////////////////////
 our team
 ////////////////////////////////////////////////////////*/
#team, #about{
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 10px;
    
}
 h2{
     text-align: center;
     font-size: 30px;
     color: blue;
 }
 
 p{
     font-size: 30px;
     color: white;
 }
 
 .columns {
    text-align: center;
    margin-right: 5px;
    display: inline-block;
 }
 
 .column1{
    width: 25%;
    order: 1;
 }
 
 .column2{
     width: 25%;
     order: -1;
 }
 
 .column3{
     width: 50%;
     order: 0;
 }

 
 /*//////////////////////////////////////////////////////////////////
  Contact Us Form
 /////////////////////////////////////////////////////////////////*/
 #contact{
     background-color: #DCDCDC;
     padding-bottom: 5px;
    
 }
 
 #contact form{
     border: 3px solid #f1f1f1;
 }
 
 input[type=text]{
     display: block;
 }
 input[type=submit]{
    margin-bottom: 5px;    
 }
 
 input[type=submit], input[type=button]{
     display: inline-block;
     padding: 10px;
     margin-left: 8px;
     
 }
 /*input[type=cancel]{*/
 /*    display: inline;*/
 /*}*/
  /*/////////////////////////////////////////////////////////////////
 Media Queries
 ////////////////////////////////////////////////////////////////*/
 
 
 /*////////////////////////////////////////////////////////////////
  Phones
 ////////////////////////////////////////////////////////////////*/
 @media only screen and (max-width: 768px){
     nav ul{
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         
     }
     
     .blue {
      border: none;  
      margin-right: 0;
     }
     
     
    /*coumns*/
    
    #team, #about{
        width: 100%;
        flex-direction: column;
        align-content: center;
    }
    .columns {
        width: 100%;
    }
    
    .column1, .column2, .column3 {
        width: 100%;
        order: 0;
    }
 }
 /*///////////////////////////////////////////////////////////////
 Tablets
////////////////////////////////////////////////////////////////*/
@media only sceen and (min-width: 9){
    
    
    #contact {
        margin-right: ;
    }
}
